@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Inter:wght@400;700&family=Overpass:wght@400;700&family=Roboto:wght@100;300;500&display=swap');


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $grayish-blue;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

