
// PRIMARY COLORS
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish: hsl(217, 19%, 35%);
$dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// NEUTRAL COLORS
$light-gray: hsla(0, 0%, 81%, 0.623);
$grayish-blue: hsl(210, 46%, 95%);